[kube-master]
{{openstack_labsrv}}01 ansible_ssh_host={{openstack_secnet02}}
{{openstack_labsrv}}02 ansible_ssh_host={{openstack_secnet02}}
{{openstack_labsrv}}03 ansible_ssh_host={{openstack_secnet02}}
#
[etcd]
{{openstack_labsrv}}01
{{openstack_labsrv}}02
{{openstack_labsrv}}03
#
[kube-node]
{{openstack_labsrv}}01
{{openstack_labsrv}}02
{{openstack_labsrv}}03
#
[k8s-cluster:children]
kube-node
kube-master
